In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20180101', periods=6)
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [13]:
df

                   A         B         C         D
2018-01-01 -0.387627  0.241846  0.858912  0.631400
2018-01-02  1.695477 -0.497407 -0.231428  0.526495
2018-01-03  0.175184 -1.554946 -0.131826  1.214698
2018-01-04  0.205176  0.690023  0.200737  0.691565
2018-01-05 -0.344206  1.889512  1.473054 -0.465659
2018-01-06 -1.929338  0.762393  0.639164  0.350734

In [15]:
df2 = pd.DataFrame(
    {
        'A': 1,
        'B': pd.Timestamp('20180102'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo',
    }
)
df2

   A          B    C  D      E    F
0  1 2018-01-02  1.0  3   test  foo
1  1 2018-01-02  1.0  3  train  foo
2  1 2018-01-02  1.0  3   test  foo
3  1 2018-01-02  1.0  3  train  foo